---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Content from '~/components/widgets/Content.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Inicio',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Sobre mi', href: '#about' },
        { text: 'Radios', href: '#radios' },
        { text: 'Blog', href: '#blog' },
      ]}
      actions={[
        {
          text: 'QRZ',
          href: '#',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:antenna',
        callToAction: {
          target: '_blank',
          text: 'RadioID',
          href: 'https://radioid.net/database/view?callsign=EA5JOQ',
        },
      },
      {
        icon: 'tabler:world',
        callToAction: {
          target: '_blank',
          text: 'QRZ',
          href: 'https://www.qrz.com/db/ea5joq',
        },
      },
      {
        icon: 'tabler:radio',
        callToAction: {
          target: '_blank',
          text: 'HamQTH',
          href: 'https://www.hamqth.com/EA5JOQ',
        },
      },
    ]}
    image={{
      src: '~/assets/images/ea5joq.png',
      alt: 'Logotipo',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Andrés "EA5JOQ" Ruz</h3>
      Soy un radioaficionado del distrito 5 en España. Me gusta la radio, la tecnología y la informática. Actualmente solo hablo a través de DMR, en la red Brandmeister.
      <p class="mt-3">Enlaces de interés:</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="radios"
    title="Radios"
    items={[
      {
        title:
          'Retevis RT3S (OpenGD77)',
        icon: 'tabler:radio',
      },
      {
        title:
          'TyT MD2017',
        icon: 'tabler:radio',
      },
      {
        title:
          'Yaesu FTA 550 (Pro X) - Airband Radio',
        description: "Soy piloto de drones y me gusta escuchar el tráfico aéreo.",
        icon: 'tabler:drone',
      },
      {
        title:
          'Quansheng UV-K5 (x2)',
        description: 'Para trastear.',
        icon: 'tabler:radio',
      },
      {
        title:
          'Baofeng UV-9R Plus',
        description: 'Mi primer walkie.',
        icon: 'tabler:radio',
      }
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <!-- Features3 Widget ************** -->

  <!-- Content Widget **************** -->


  <!-- Content Widget **************** -->


  <!-- Content Widget **************** -->

  <!-- Testimonials Widget *********** -->


  <!-- CallToAction Widget *********** -->

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Mis últimos posts"
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
